extends layout

block content
  .main-container
    .container
      header
        h1 Weather Information
      .search-box
        form(action='/weather', method='get')
          input(type='text', name='city', placeholder='Enter city')
          button(type='submit') Get Weather
      if weather
        .weather-details
          p City: #{weather.city}
          p Temperature: #{(weather.main.temp - 273.15).toFixed(2)} °C
          p Weather: #{weather.weather[0].description}
          p Wind Speed: #{weather.wind.speed} m/s
          p Visibility: #{weather.visibility} meters
          p Humidity: #{weather.main.humidity}%
      else if error
        .error
          p #{error}
      else
        .error
          p No weather information available
    .container
      header
        h1 Airport Information
      .search-box
        form(action='/airport', method='get', id='airport-form')
          input(type='text', name='iata', id='iata-input', placeholder='Enter IATA code or city or airport name', list='iata-suggestions')
          button(type='submit') Get Airport Info
        datalist#iata-suggestions
      if airport
        .airport-details
          p IATA Code: #{airport.iata}
          p Airport Name: #{airport.name}
          p City: #{airport.city}
          p Country: #{airport.country}
          p Temperature: #{airport.weather.temperature} °C
          p Weather: #{airport.weather.description}
          p Wind Speed: #{airport.weather.wind_speed} m/s
          p Visibility: #{airport.weather.visibility} meters
          p Humidity: #{airport.weather.humidity}%
      else if error
        .error
          p #{error}
      else
        .error
          p No airport information available
